{# src/HS/ListingBundle/Resources/views/Listing/index.html.twig #}

{# extend the base layout for styles... #}
{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
        <h1 class="display-3">Your order</h1>
        <a class="btn btn-success float-right" href="{{ path('hs_listing_order_create', {'id': listing.getId()}) }}">Continue</a>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="form-horizontal">
            <div class="form-control">
                <label for="image"> Image </label>
                <div class="col-sm-10">
                    <a id="image" href="{{ asset('uploads/listings_images/' ~ listing.photo) }}"><img style="width:150px; height: 150px;" src="{{ asset('uploads/listings_images/' ~ listing.photo) }}" alt="listing image" /></a>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name"> Name </label>
                <div class="col-sm-6">
                    <input id="name" class="form-control"  type="text" readonly="1" value="{{listing.name}}">
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="size"> Size </label>
                <div class="col-sm-6">
                    <input id="size" class="form-control"  type="text" readonly="1" value="{{listing.size}}">
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="price"> Price </label>
                <div class="col-sm-6">
                    <input id="price" class="form-control"  type="text" readonly="1" value="{{listing.price}}">
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="category"> Category </label>
                <div class="col-sm-6">
                    <input id="category" class="form-control"  type="text" readonly="1" value="{{listing.category}}">
                </div>
            </div>
        </div>
    </div>



{% endblock %}